/statefile.json
/statefile.json.old
/statefile.json.new
/apmonitor-statefile.json
/apmonitor-statefile.json.old
/apmonitor-statefile.json.new
/.idea
/.idea/*
/.idea/workspace.xml/statefile.json
statefile.json.old
statefile.json.new
apmonitor-statefile.json
apmonitor-statefile.json.old
apmonitor-statefile.json.new
.idea
.idea/*
.idea/workspace.xml